<%= form_with model: Word.new, url: words_path, id: 'word_form', data: {
  shiritori_target: 'form',
  action: 'submit->shiritori#submitWord'
} do |f| %>
  <%= f.hidden_field :room_id, value: room.id %>
  
  <%# ▼▼▼ 変更点：ゲストユーザーとログインユーザーの両方に対応する ▼▼▼ %>
  <%= f.hidden_field :room_participant_id, value: room.room_participants.find_by(guest_user? ? { guest_id: current_guest_id } : { user: current_user })&.id %>
  <%# ▲▲▲ 変更点 ▲▲▲ %>
  
  <div class="input-group">
    <div id="flash-messages">
      <%# ここに警告メッセージが表示されます %>
    </div>
    <%= f.text_field :body,
      class: 'form-control word-input',
      placeholder: 'ひらがなで入力...',
      autocomplete: 'off',
      autofocus: true,
      data: { shiritori_target: 'input' }
    %>
    <%= f.submit "送信", class: 'game-btn' %>
  </div>
<% end %>