<div class="container py-5">
  
  <div class="text-center mb-5">
    <% if current_user %>
      <%= button_to "ルームを作成", rooms_path, method: :post, class: 'game-btn' %>
    <% else %>
      <%= link_to "ルーム作成はログインが必要です", new_user_session_path, class: 'btn btn-warning' %>
    <% end %>
    <%= button_to "ソロモードで遊ぶ", solo_rooms_path, method: :post, class: 'game-btn' %>
  </div>

  <div class="mb-5">
    <h2 class="mb-3 text-center lobby-heading">ソロスコアランキング</h2>
    
    <div class="ranking-table-container">
      <table class="futuristic-ranking">
        <thead>
          <tr>
            <th>順位</th>
            <th>ユーザー名</th>
            <th>合計スコア</th>
          </tr>
        </thead>
        <tbody>
          <% @ranking.each_with_index do |row, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= row[:username] %></td>
              <td><%= row[:score] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <h2 class="mb-3 text-center lobby-heading">参加可能なルーム</h2>

    <div data-controller="lobby">
      <ul class="list-group" data-lobby-target="list">
        <% if @rooms.any? %>
          <% @rooms.each do |room| %>
            <%= render 'room', room: room %>
          <% end %>
        <% end %>
      </ul>
      
      <%# メッセージ部分にも target を設定 %>
      <% if @rooms.empty? %>
        <p id="no-rooms-message" class="text-center mt-3" data-lobby-target="message">参加可能なルームはありません。</p>
      <% else %>
        <p id="no-rooms-message" class="text-center mt-3 d-none" data-lobby-target="message">参加可能なルームはありません。</p>
      <% end %>
    </div>
  </div>

</div>