<div class="container py-5">
  <div class="text-center mb-5">
    <% if current_user %>
      <%= button_to "ルームを作成", rooms_path, method: :post, class: 'game-btn' %>
    <% else %>
      <%= link_to "ルーム作成はログインが必要です", new_user_session_path, class: 'btn btn-warning' %>
    <% end %>
    <%= button_to "ソロモードで遊ぶ", solo_rooms_path, method: :post, class: 'game-btn' %>
  </div>

  <h2 class="joinpossible-text">参加可能なルーム</h2>
  <% if @rooms.any? %>
    <ul class="list-group">
      <% @rooms.each do |room| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            ルーム #<%= room.id %>（作成者: <%= room.creator.username %>）
            / 参加人数: <%= room.room_participants.count %> / <%= room.max_players %>
          </div>
          <%= button_to "参加", join_room_path(room), method: :post, class: "game-btn", data: { turbo: false } %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="joinpossible-subtext">参加可能なルームはありません。</p>
  <% end %>
</div>
