<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Camp Ten To Sen" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="titlecontainer">
      <div class="titlemenubox">
        <% if controller_name == "rooms" %>
          <div class="greeting">  
            <% if current_user %>
              こんにちは、<%= current_user.username %> さん
               <%= button_to "ログアウト", destroy_user_session_path, method: :delete , class:"logout-btn" %>
            <% else %>
              ゲストでアクセス中です
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="titletext">
        <h3 class="titletext_sub2"> 高速しりとりバトル </h3>
        <h1 class="titletext_sub"> WORD CHASER </h1>
    </div>
    <%= yield %>
  </body>
</html>
